* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-dark {
    height:100vh;
    background:#f6f7fc;
    background-size:cover;
    position:relative;
    color:#000000;
}

.login-dark form {
    max-width:400px;
    width:90%;
    background-color:#fff;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#325662;
}

.login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #325662;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:#325662;
}

.login-dark form .btn-primary {
    background:#325662;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#325662;
    outline:none;
}

.login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#325662;
    opacity:0.9;
    text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
}

.login-dark form .btn-primary:active {
    transform:translateY(1px);
}

