<div class="modal fade" id="editPengajuanJudul<%= id %>" tabindex="-1" role="dialog" aria-labelledby="editPengajuanJudulLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="/admin/pengajuan-judul/edit/<%= id %>" method="post">
                    <div class="modal-header">
                        <h4>Edit Pengajuan Judul</h4>
                    </div>
                    <div class="modal-body container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="npm">NPM</label>
                                    <input class="form-control w-25" type="number" name="npm" id="npm" value="<%= npm %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="nama">Nama</label>
                                    <input class="form-control w-25" type="text" name="nama" id="nama" value="<%= nama %>" disabled>
                                </div>
                                <select class="form-control" name="statusPersetujuan" id="statusPersetujuan">
                                    <option value="Judul 1 Diterima" style="background-color: blue; color: white;" <% if (statusPersetujuan === 'Judul 1 Diterima') { %>selected<% } %>>Judul 1 Diterima</option>
                                    <option value="Judul 2 Diterima" style="background-color: green; color: white;" <% if (statusPersetujuan === 'Judul 2 Diterima') { %>selected<% } %>>Judul 2 Diterima</option>
                                    <option value="Judul Ditolak" style="background-color: red; color: white;" <% if (statusPersetujuan === 'Judul Ditolak') { %>selected<% } %>>Judul Ditolak</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary1">Ubah</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <style>
        /* Style for 'Pending' option */
        select#statusPersetujuan option[value="Judul 1 Diterima"] {
            background-color: blue;
            color: white;
        }
    
        /* Style for 'Diterima' option */
        select#statusPersetujuan option[value="Judul 2 Diterima"] {
            background-color: green;
            color: white;
        }
    
        /* Style for 'Ditolak' option */
        select#statusPersetujuan option[value="Judul Ditolak"] {
            background-color: red;
            color: white;
        }
    </style>

    