<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Data Daftar Dosen Pembahas</title>
  </head>
  <body>
    <center>
      <h2>Data Daftar Dosen Pembahas</h1>
    </center>
    <table border="1" cellpadding="5" cellspacing="0" width="100%">
      <tr>
        <th>No</th>
        <th>Dosen Pembahas</th>
      </tr>
      {{#each lecturer3s}}
      <tr>
        <td>{{this.no}}</td>
        <td>{{this.dosenPembahas}}</td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>