<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Data Pengajuan Judul Mahasiswa</title>
  </head>
  <body>
    <center>
      <h1>Data Pengajuan Judul Mahasiswa</h1>
    </center>
    <table border="1" cellpadding="5" cellspacing="0" width="100%">
      <tr>
        <th>No</th>
        <th>NPM</th>
        <th>Nama</th>
        <th>Dosen Pembimbing 1</th>
        <th>Dosen Pembimbing 2</th>
        <th>Judul 1</th>
        <th>Judul 2</th>
        <th>Status Persetujuan</th>
      </tr>
      {{#each titles }}
      <tr>
        <td>{{this.no}}</td>
        <td>{{this.npm}}</td>
        <td>{{this.nama}}</td>
        <td>{{this.dosenPembimbing1}}</td>
        <td>{{this.dosenPembimbing2}}</td>
        <td>{{this.judul1}}</td>
        <td>{{this.judul2}}</td>
        <td>{{this.statusPersetujuan}}</td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>